<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="uri" value="http://127.0.0.1:8080/api/public/"/>		
		<!--集思录接口重试次数-->
		<add key="retry_times" value ="30"/>
		<!--使用策略时，返回多少个结果-->
		<add key="statics_howmany" value="100"/>
		<!--股价异动幅度 这里自定义设定为5%-->
		<add key="stock_rise" value="5"/>
		<!--保本幅度 这里自定义到期赎回价和现价的差异最大不低于5元-->
		<add key="baoben" value="-5"/>
	</appSettings>
	<connectionStrings>
	</connectionStrings>
</configuration>