<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="uri" value="http://127.0.0.1:8080/api/public/"/>
		<!--集思录cookie-->
		<add key="jsl_cookie" value="kbzw__Session=h3l4slhht553flu9cm74qn9du4; Hm_lvt_164fe01b1433a19b507595a43bf58262=1672713986; kbz_newcookie=1; kbzw__user_login=7Obd08_P1ebax9aXXBInRw8mXCP5Vur_mrCW6c3q1e3Q6dvR1YzUmKTe2KGrz9qS3JTZ2qutlKfDpdrbmtqkqcWvx6naqZmcndbd3dPGpJ2nmK-ZrauUs47FotLWoLbo5uDO4sKmrKGogZi43efZ2PDfl7DKgainoaickLjd56udtIzvmKqKl7jj6M3VuNnbwNLtm6yVrY-qrZOgrLi1wcWhieXV4seWqNza3ueKkKTc6-TW3puokqmPp6WjppGQtNXf1tvim6yVrY-qrQ..; Hm_lpvt_164fe01b1433a19b507595a43bf58262=1674009351"/>
		<!--集思录接口重试次数-->
		<add key="retry_times" value ="30"/>
		<!--使用策略时，返回多少个结果-->
		<add key="statics_howmany" value="100"/>
	</appSettings>
	<connectionStrings>
	</connectionStrings>
</configuration>